.horario-container {
  display: flex;
  flex-direction: column;
  width: 200px;
  text-align: center;
  padding: 0px 10px;
}

.horario-horario p {
  padding: 10px 0px;
  font-style: italic;
}

.horario-name {
  font-size: 20px;
}
